<?xml version="1.0"?>
<launch>
    <node pkg="my_cpg_driver" type="my_cpg_driver_joy_controller" name="joy_controller">
        
    </node>
    <node pkg="joy" type="joy_node" name="joy">
        
    </node>
    <node pkg="my_cpg_driver" type="my_cpg_driver_wireless_controller" name="wireless_controller">
        
    </node>
</launch>
